.form {
  padding: 0.5rem 0;

  .form-errors {
    color: red;
    margin-bottom: 0.5rem;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5rem 0;

    .field-title {
      font-weight: bold;
    }

    .field-input-container {
      max-width: 500px;
      margin-top: 0.25rem;

      .field-input {
        width: 100%;
        width: -webkit-fill-available;

        &[readonly] {
          cursor: not-allowed;
        }

        &[type='checkbox'] {
          margin: 0;
          width: auto;
        }
      }
    }
  }

  .actions {
    button {
      margin-right: 0.25rem;
    }

    :last-child {
      margin-right: 0;
    }
  }

  @media print {
    .form-field input {
      border: none;
    }

    .actions {
      display: none;
    }
  }
}
